.opa_anim{animation: 3s opaAnim;}
@keyframes opaAnim { 0%{opacity: 0;} 100%{opacity: 1;} }
.side_anim{animation: 0.5s sideAnim;}
@keyframes sideAnim {0%{width: 0;} 100%{width: 400px;} }

.profile_pic{width: 60px; height: 60px; border-radius: 50%;}
.project_user_profile_pic{width: 50px; height: 50px; border-radius: 50%;}
.text_none{text-decoration: none;}
.text_none:hover{transition: 0.5s;}
.link{text-decoration: none;}
.hover_project{background: none; transition: 0.5s;}
.hover_project:hover{background: #e1e1e1; border-radius: 15px;}
.pannelBadge{border-radius: 50%; padding: 5px 5px; width: 30px ; height: 30px; background-color: #9627ec; color: #fafafa;}
::-webkit-scrollbar{width: 0px;}
::-webkit-scrollbar-track{background-color: #fafafa;border-radius: 5px;}
::-webkit-scrollbar-thumb{background-color: #fdfdfd; border-radius: 5px;} 
