.size_a{font-size: 35px; font-weight: 500;}
.size_b{font-size: 30px; font-weight: 400;}
.size_c{font-size: 25px; font-weight: 400;}
.size_x{font-size: 20px; font-weight: 400;}
.size_y{font-size: 18px; font-weight: 400;}
.size_z{font-size: 16px; font-weight: 200;}
.dark_color{color: #303030;}
.gray_color{color: #909090;}
.blue_color{color: #3b74f0;}
.yellow_color{color: yellow;}
.light_color{color: #fafafa;}
.danger_color{color: red;}